@font-face {
  font-family: RamadanFont;
  src: url("../../assets/RamadhanMubarok-Regular.otf") format("opentype");
}

body {
  font-family: RamadanFont;
  letter-spacing: 1px;
  font-size: larger;
  text-align: center;
  background-color: #340326;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

canvas {
  border: 2px solid white;
  background: url('./assets/background.jpg') no-repeat center center;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

button {
  transition: background-color 0.3s ease;
  margin-top: 20px;
  background-color: #ff0066;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #777;
}

#playAgainButton {
  display: none; /* Hidden by default */
}

.mobile-controls {
  display: none; /* Hidden by default on desktop */
  margin-top: 20px;
}

.mobile-controls button {
  padding: 15px 25px;
  font-size: 1.5rem;
  margin: 0 10px;
}

/* Show mobile controls on smaller screens */
@media (max-width: 600px) {
  .mobile-controls {
    display: block;
  }
}