@font-face {
    font-family: RamadanFont;
    src: url("../../assets/RamadhanMubarok-Regular.otf") format("opentype");
  }

body {
    font-family: RamadanFont;
    letter-spacing: 1px;
    font-size: larger;
    text-align: center;
    background-color: #340326;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
  }
  
  h1 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cell:hover {
    background-color: #e0e0e0;
  }
  
  .cell.X {
    color: #ff6b6b;
    font-size: 2.5rem;
  }
  
  .cell.O {
    color: #4ecdc4;
    font-size: 2.5rem;
  }
  
  
.btn{
    background-color: #ff0066;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
  }

  .btn:hover{
    background-color: #ff428e;
  }

  
.winner-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(124, 0, 48, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 10;
  }
  
  .winner-message.show {
    display: block;
  }
  
  #winnerText {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffffff;
  }
  